# Java
*.class
*.jar
*.war
*.ear
*.iml

# Build output
/target/
.build/
build/

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!gradle-wrapper.properties

# IntelliJ
.idea/
*.iws
*.ipr
*.iml
out/

# VSCode
.vscode/
!.vscode/settings.json

# Logs
*.log
logs/

# Environment
.env
.env.*

# OS files
.DS_Store
Thumbs.db

# Kafka & TLS example paths (falls lokal)
.extras/compose/**/db_*.txt
src/config/resources/tls/key.pem

# Test Reports
/test-output/
coverage/

# === MongoDB / Temp ===
*.lock
.dump/
data/
temp/
tmp/*